/* !main setings */

body{
    font-family: "Roboto", sans-serif;
    color: var(--slate);
    background-color: var(--white);
}
:root{
    --iris:#4D5AE5;
    --ocean:#404BBF;
    --navyblue:#2E2F42;
    --green:#31D0AA;
    --slate:#434455;
    --lightslate:#8E8F99;
    --cornflower:#E7E9FC;
    --cloud:#F4F4FD;
    --navybluemodal:#2E2F42·40%;
    -grey:#2E2F42;
    --white:#FFFFFF;
    --dairy:#FCFCFC;
}


/* !HEADER */




/* !MAIN */
/* HERO */
.hero-background{background-color:var(--navyblue);}
.first-title{
    color: var(--white);
    text-align: center;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
}
.hero-button{
    background-color: var(--iris);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
    cursor: pointer;
}
.hero-button:hover,
.hero-button:focus{background-color: var(--ocean);}

/* ADVANTAGES */

/* OUR TEAM */
.team-background{
    background-color: var(--cloud);
}
/* OUR PORTFOLIO */


/* !FOOTER */
.low-background{
    background-color: var(--navyblue);
}