/* !main setings */

body{
    font-family: "Roboto", sans-serif;
    background-color: var(--white);
}
:root{
    --iris:#4D5AE5;
    --ocean:#404BBF;
    --navyblue:#2E2F42;
    --green:#31D0AA;
    --slate:#434455;
    --lightslate:#8E8F99;
    --cornflower:#E7E9FC;
    --cloud:#F4F4FD;
    --navybluemodal:#2E2F42·40%;
    -grey:#2E2F42;
    --white:#FFFFFF;
    --dairy:#FCFCFC;
}


/* !HEADER */




/* !MAIN */
/* HERO */
.hero-background{background-color:var(--navyblue);}
/* ADVANTAGES */

/* OUR TEAM */
.team-background{
    background-color: var(--cloud);
}
/* OUR PORTFOLIO */


/* !FOOTER */
.low-background{
    background-color: var(--navyblue);
}